<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
</head>
<body>
    <header>
        <div class="footer">
                <p class="title">@Shivam Kesarwani. All Rights Reserved.</p>
            <div class="links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <% if(locals.user){ %>
                        <li><a href="/users/profile/<%= locals.user.id %>">Profile</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </header>
</body>
</html>