<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
</head>
<body>
    <header>
        <div class="header">
                <p class="title"><a href="/">codeial</a></p>
            <div class="sign">
                <% if (locals.user){ %>
                    <div class="signout"><a href="/users/profile/<%= locals.user.id %>"><%= locals.user.name %></a></div>
                    <div class="signout">
                        
                        <a href="/users/signout">Sign Out</a>
                    </div>
                <% }else{ %>
                    <div class="signinup">
                        <a href="/users/signin">Sign In</a>
                        <a href="/users/signup">Sign Up</a>
                    </div>
                <% } %>
            </div>
        </div>
    </header>
</body>
</html>