<link rel="stylesheet" href="/css/user_profile.css">
<title><%= title %></title>
<h1>Signup Page</h1>

<form action="/users/create" method="POST">

    <input type="string" id='name' name="name" placeholder="Your Name" required>
    <input type="email" id='email' name="email" placeholder="Your Email" required>
    <input type="password" id='password' name="password" placeholder="Password" required>
    <input type="password" id='confirm_password' name="confirm_password" placeholder="Confirm Password" required>
    <input type="submit">
</form>

<p>
    <a href="/users/auth/google">Google Sign In/ Sign Up</a>
</p>