$myFont: Helvetica, sans-serif;

.footer{
    position: relative;
    top: 92%;
    background-color: gray;
    height: 8%;
    width: 100%;
    display: flex;
    flex-direction: row;
    .title{
        a{
            color: white;
            font-family: $myFont;
            margin-left: 10px;
            font-size: 18px;
            text-align: center;
        }
        a:link {
            text-decoration: none;
      }
      
      a:visited {
            text-decoration: none;
      }
      
      a:hover {
            text-decoration: none;
      }
      
      a:active {
            text-decoration: none;
      }
    }

    .links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10px;
        ul{
            padding: 0;
            margin: 0;
        }

        li{
            list-style-type: none;
            font-family: $myFont;
            margin-left: 10px;
            font-size: 18px;
            
            a{
                color: white;
            }
        }
    }
}
