.header {
  background-color: lightseagreen;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px; }
  .header .title {
    color: white;
    font-family: Helvetica, sans-serif;
    margin-left: 10px;
    font-size: 18px;
    text-align: center; }

.sign {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px; }
  .sign .signout a {
    color: white;
    font-family: Helvetica, sans-serif;
    margin-left: 10px;
    font-size: 18px;
    text-align: center; }
  .sign .signinup a {
    color: white;
    font-family: Helvetica, sans-serif;
    margin-left: 10px;
    font-size: 18px;
    text-align: center; }
